
{namespace low.ui.loading.soy}


/**
 * HTML for the loading widget.
 */
{template .LOADING}
  <div class="{css low-loading}">
    <div class="{css low-header}">
      <img src="/images/logo.png" class="{css low-logo}"></img>
    </div>
    <div class="{css low-loading-container}">
      Loading...
    </div>
  </div>
{/template}
