.sprite { background-image: url('/images/sprite/sprite.png'); background-color: transparent; background-repeat: no-repeat; }
.card-scatter { width: 300px; height: 200px; background-position: 0px -175px; }
.holder-black-75 { width: 75px; height: 75px; background-position: 0px -97px; }
.holder-blue-75 { width: 75px; height: 75px; background-position: -75px -97px; }
.holder-green-75 { width: 75px; height: 75px; background-position: -150px -100px; }
.holder-other-75 { width: 75px; height: 75px; background-position: -225px -100px; }
.holder-red-75 { width: 75px; height: 75px; background-position: 0px -22px; }
.holder-yellow-75 { width: 75px; height: 75px; background-position: -75px -22px; }
.holder-black-50 { width: 50px; height: 50px; background-position: -150px -50px; }
.holder-blue-50 { width: 50px; height: 50px; background-position: -200px -50px; }
.holder-green-50 { width: 50px; height: 50px; background-position: -250px -50px; }
.holder-other-50 { width: 50px; height: 50px; background-position: -150px 0px; }
.holder-red-50 { width: 50px; height: 50px; background-position: -200px 0px; }
.holder-yellow-50 { width: 50px; height: 50px; background-position: -250px 0px; }
.holder-black-22 { width: 22px; height: 22px; background-position: 0px 0px; }
.holder-blue-22 { width: 22px; height: 22px; background-position: -22px 0px; }
.holder-green-22 { width: 22px; height: 22px; background-position: -44px 0px; }
.holder-other-22 { width: 22px; height: 22px; background-position: -66px 0px; }
.holder-red-22 { width: 22px; height: 22px; background-position: -88px 0px; }
.holder-yellow-22 { width: 22px; height: 22px; background-position: -110px 0px; }
