/*
 * Base css for the application.
 */

@def FONT_FAMILY                   Cinzel;
@def FONT_SIZE_NORMAL              16px;
@def TEXT_SHADOW                   1px 0px rgba(0, 0, 0, .5);

body {
	background: url(/images/background.jpg) no-repeat center top fixed;
	color: #fff;
  font-family: FONT_FAMILY;
  font-size: FONT_SIZE_NORMAL;
  margin: 0;
  padding: 0;
  text-shadow: TEXT_SHADOW;
  @mixin background_size(cover);
}

.low-table {
	display: table;
}

.low-row {
	display: table-row;
}

.low-cell {
	display: table-cell;
}

.low-header {
	margin-bottom: 10px;
  text-align: left;
}

.low-logo {
  height: 75px;
  margin: 5px 8px;
}
