/*
 * CSS for input elements.
 */

@def BUTTON_BACKGROUND_COLOR_LIGHT  #ffffff;
@def BUTTON_BACKGROUND_COLOR_MID    #e0e0e0;
@def BUTTON_BACKGROUND_COLOR_DARK   #d0d0d0;
@def BUTTON_GRADIENT                top, BUTTON_BACKGROUND_COLOR_LIGHT 0%, BUTTON_BACKGROUND_COLOR_DARK 100%;
@def BUTTON_GRADIENT_ACTIVE         top, BUTTON_BACKGROUND_COLOR_DARK 0%, BUTTON_BACKGROUND_COLOR_LIGHT 100%;
@def BUTTON_GRADIENT_HOVER          top, BUTTON_BACKGROUND_COLOR_LIGHT 0%, BUTTON_BACKGROUND_COLOR_MID 100%;

@def ACTION_BUTTON_BACKGROUND_COLOR_LIGHT  #00ff00;
@def ACTION_BUTTON_BACKGROUND_COLOR_MID    #00d100;
@def ACTION_BUTTON_BACKGROUND_COLOR_DARK   #00a700;
@def ACTION_BUTTON_GRADIENT                top, ACTION_BUTTON_BACKGROUND_COLOR_LIGHT 0%, ACTION_BUTTON_BACKGROUND_COLOR_DARK 100%;
@def ACTION_BUTTON_GRADIENT_ACTIVE         top, ACTION_BUTTON_BACKGROUND_COLOR_DARK 0%, ACTION_BUTTON_BACKGROUND_COLOR_LIGHT 100%;
@def ACTION_BUTTON_GRADIENT_HOVER          top, ACTION_BUTTON_BACKGROUND_COLOR_LIGHT 0%, ACTION_BUTTON_BACKGROUND_COLOR_MID 100%;

button {
  border: 1px solid rgba(0, 0, 0, .5);
  color: #333;
  cursor: pointer;
  font-family: FONT_FAMILY;
  font-size: FONT_SIZE_NORMAL;
  margin: 0;
  outline: none;
  padding: 4px 12px;
  text-shadow: TEXT_SHADOW;
  @mixin border_radius(3px);
  @mixin linear_gradient(BUTTON_GRADIENT, BUTTON_BACKGROUND_COLOR_MID);
}

button:hover {
  @mixin linear_gradient(BUTTON_GRADIENT_HOVER, BUTTON_BACKGROUND_COLOR_LIGHT);
}

button:active {
  padding: 5px 12px 3px 12px;
  @mixin linear_gradient(BUTTON_GRADIENT_ACTIVE, BUTTON_BACKGROUND_COLOR_DARK);
}

button.low-action {
	border-color: #060;
	@mixin linear_gradient(ACTION_BUTTON_GRADIENT, ACTION_BUTTON_BACKGROUND_COLOR_MID);
}

button.low-action:hover {
	@mixin linear_gradient(ACTION_BUTTON_GRADIENT_HOVER, ACTION_BUTTON_BACKGROUND_COLOR_LIGHT);
}

button.low-action:active {
  @mixin linear_gradient(ACTION_BUTTON_GRADIENT_ACTIVE, ACTION_BUTTON_BACKGROUND_COLOR_DARK);
}
