/**
 * CSS for the home page.
 */

.low-home {
	text-align: center;
}

.low-game-container {
	background-color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	padding: 30px;
	@mixin border_radius(30px);
}

.low-game {
	display: block;
	margin-bottom: 30px;
	min-width: 500px;
	text-align: left;
}

.low-game,
.low-game:active {
	padding: 8px 12px;
}

.low-game-title {
	font-size: 23px;
}

.low-game-label {
	text-align: right;
}

.low-game-player-icon {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.low-game-create-button {
	font-size: 23px;
	min-width: 500px;
	width: 100%;
}

.low-game-name-input-container {
	margin-left: 10px;
	position: relative;
}

.low-game-name-input {
	width: 100%;
	@mixin box_sizing(border-box);
}

.low-color-picker {
	margin-left: 10px;
	margin-bottom: 20px;
}

.low-color-container {
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	padding: 8px;
}

.low-color-selected {
	border-color: rgba(255, 255, 255, 0.8);
}

.low-color-icon {
  display: inline-block;
  vertical-align: middle;
}
