/**
 * CSS for the home page.
 */

.low-home {
	text-align: center;
}

.low-game-container {
	background-color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	min-width: 400px;
	padding: 30px;
	@mixin border_radius(30px);
}

.low-game-create-button {
	font-size: 20px;
	width: 100%;
}
