/**
 * CSS for the home page.
 */

.low-home {
	text-align: center;
}

.low-game-container {
	background-color: rgba(0, 0, 0, 0.8);
	display: inline-block;
	padding: 30px;
	@mixin border_radius(30px);
}

.low-game {
	display: block;
	margin-bottom: 30px;
	min-width: 500px;
	text-align: left;
}

.low-game-title {
	font-size: 23px;
}

.low-game-create-button {
	font-size: 23px;
	min-width: 500px;
	width: 100%;
}

.low-game-name-input {
	margin-left: 5px;
}
