
{namespace low.ui.game.soy}


/**
 * HTML for the game page.
 */
{template .GAME}
  <div class="{css low-game-page}">
    <div class="{css low-game-background}">
    </div>
  </div>
{/template}


/**
 * HTML for the board component.
 */
{template .BOARD}
  <div class="{css low-board}">
  </div>
{/template}


/**
 * HTML for the component showing all player information.
 */
{template .PLAYERS}
  <div class="{css low-players}">
  </div>
{/template}
