/**
 * CSS for the waiting page.
 */

@def WAITING_TITLE_HEIGHT           55px;

.low-waiting {
	padding-bottom: 50px;
  text-align: center;
}

.low-waiting-container {
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  min-width: 700px;
  padding: 30px;
  @mixin border_radius(30px);
}

.low-waiting-content {
	position: relative;
}

.low-waiting-title {
	font-size: 41px;
	line-height: WAITING_TITLE_HEIGHT;
	text-align: left;
}

.low-waiting-leave-button {
	cursor: pointer;
  font-size: 20px;
  line-height: WAITING_TITLE_HEIGHT;
  position: absolute;
  right: 0;
  top: 0;
}

.low-waiting-player-container {
	text-align: left;
}

.low-waiting-player {
	line-height: 75px;
	margin-top: 20px;
}

.low-waiting-player-icon,
.low-waiting-player-name-container,
.low-waiting-button-container {
	display: inline-block;
	vertical-align: middle;
}

.low-waiting-player-name-container {
	font-size: 25px;
	line-height: 25px;
	margin-left: 15px;
}

.low-waiting-player-moderator {
	font-size: 13px;
	line-height: 13px;
	margin-top: 3px;
}

.low-waiting-outer-button-container {
	float: right;
}

.low-waiting-button-container {
	line-height: initial;
}

.low-waiting-button-container button {
	font-size: 18px;
	width: 150px;
}
